<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!--服务名称-->
    <dubbo:application name="ProductService"/>

    <!--注册中心-->
    <dubbo:registry address="zookeeper://192.168.1.74:2181"/>
    <!--dubbo协议和端口-->
    <dubbo:protocol host="192.168.1.74" name="dubbo" port="20880"/>
    <!--暴露服务-->
    <bean id="productService" class="com.wil.service.impl.ProductServiceImpl"/>
    <dubbo:service interface="com.wil.service.ProductService" ref="productService"/>
</beans>