<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jms="http://www.springframework.org/schema/jms"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms.xsd">

    <!--自动扫描-->
    <context:component-scan base-package="com.wil"/>

    <!--ActiveMQ ConnectionFactory-->
    <bean id="activeMQConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL" value="tcp://localhost:61616"/>
        <!--配置重试参数对象-->
        <property name="redeliveryPolicy" ref="redeliveryPolicy"/>
    </bean>

    <!--配置重试参数-->
    <bean id="redeliveryPolicy" class="org.apache.activemq.RedeliveryPolicy">
        <!--重试次数-->
        <property name="maximumRedeliveries" value="3"/>
        <!--初次延迟-->
        <property name="initialRedeliveryDelay" value="3000"/>
        <!--每次延迟-->
        <property name="redeliveryDelay" value="3000"/>
    </bean>

    <!--Soring JMS ConnectionFactory-->
    <bean id="connectionFactory" class="org.springframework.jms.connection.SingleConnectionFactory">
        <property name="targetConnectionFactory" ref="activeMQConnectionFactory"/>
    </bean>

    <!--JMSTemplate-->
    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="connectionFactory"/>
        <!--客户端签收模式 1:自动 2：手动-->
        <property name="sessionAcknowledgeMode" value="2"/>
    </bean>

    <!--&lt;!&ndash;queue监听方式1&ndash;&gt;
    <bean id="messageListenerContainer" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="connectionFactory"/>
        <property name="messageListener" ref="myQueueListener"/>
        <property name="destinationName" value="spring-MQ-queue"/>
        <property name="sessionAcknowledgeMode" value="2"/>
    </bean>

    &lt;!&ndash;pub/sub监听方式1&ndash;&gt;
    <bean id="topic" class="org.apache.activemq.command.ActiveMQTopic">
        <constructor-arg name="name" value="spring-MQ-topic"/>
    </bean>
    <bean id="messageTopicListenerContainer" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="connectionFactory"/>
        <property name="messageListener" ref="myTopicListener"/>
        <property name="destination" ref="topic"/>
    </bean>-->

    <!--&lt;!&ndash;queue监听方式2&ndash;&gt;
    <jms:listener-container connection-factory="connectionFactory">
        <jms:listener destination="spring-MQ-queue" ref="myQueueListener"/>
    </jms:listener-container>

    &lt;!&ndash;topic监听方式2&ndash;&gt;
    <jms:listener-container connection-factory="connectionFactory" destination-type="topic">
        <jms:listener destination="spring-MQ-topic" ref="myTopicListener"/>
    </jms:listener-container>-->

    <!--queue基于注解的监听-->
    <bean id="queueListenerContainerFactory" class="org.springframework.jms.config.DefaultJmsListenerContainerFactory">
        <property name="connectionFactory" ref="connectionFactory"/>
        <property name="sessionAcknowledgeMode" value="2"/>
    </bean>

    <!--topic基于注解的监听-->
    <bean id="topicListenerContainerFactory" class="org.springframework.jms.config.DefaultJmsListenerContainerFactory">
        <property name="connectionFactory" ref="connectionFactory"/>
        <property name="pubSubDomain" value="true"/>
    </bean>

    <jms:annotation-driven/>




</beans>